.row {
    height: 500px;
    display: flex;
    flex-direction: row;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

/* Colors/Common text */

body {
    background-color: floralwhite;
}

.navbar-custom {
    color: lightpink;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 

h1 {
    color: lightpink;
    background-color: floralwhite;

}

h2 {
    color: lightpink;
    background-color: floralwhite;
}

h5 {
    color: lightpink;
    background-color: floralwhite;
}

p {
    color: #bf94e4;
    background-color: floralwhite;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
}

figcaption {
    color: blue;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;

}

small {
    color: blue;
}

a {
    color: #bf94e4;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Home page */

.welcome-header {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 85px;
    
}

.intro-text {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 35px;
}

.profile-pic {
    width: 560;
    height: 560;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* About */

.about-header {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 85px;
    color: lightpink;
    background-color: floralwhite;
    
}

.where-from-header {
    text-align: center;
    margin-top: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    color: lightpink;
    background-color: floralwhite;
}

.where-from-text {
    text-align: center;
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    color: #bf94e4;
    background-color: floralwhite;
}

.beach {
    width: 700;
    height: 441;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.where-study-header {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    color: lightpink;
    background-color: floralwhite;


    
}

.where-study-text {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    color: #bf94e4;
    background-color: floralwhite;
}

.club-images {
    display: flex;
}

.club-image {
    margin-top: 50px;
    margin-left: 120px;
    height: 200px;
    width: 300px;
}

.what-like-header {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    color: lightpink;
    background-color: floralwhite;
    
}

.what-like-text {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    color: #bf94e4;
    background-color: floralwhite;
}

.hobbies-images {
    display: flex;
}

.figure {
    width: 150;
    height: 250;
}

.bpl {
    width: 250;
    height: 150;
}


/* Projects */

.projects-header {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 85px;
    
}

.projects-text {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
}

.card-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Contact */

.contact-header {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 85px;
    
}

